body { 
	color: rgb(17, 17, 17); 
	font-family: "Hedvig Letters Serif", serif;
	font-size: 24px;
	padding: 24px;
	background-color: #ECF915;
}


.highlight { 
	color: #FE027E;
	font-size: 100px;
	font-family: "Imperial Script", cursive;
	font-weight: 400;
	font-style: normal;
}

h1, {
	color:  #FE027E;
	font-size: 50px;
	font-family: "Imperial Script", cursive;
	font-style: normal;
}

h2, h3 {
	color:  #FE027E;
	font-size: 24px;
	font-family: "Questrial", sans-serif;
	font-style: normal;
	padding: 15px;
  	margin: 25px;
}

p {
	max-width: 55ch;
	margin-bottom: 1em;
	text-align: justify;
}

.InfosArtikel {
	opacity: 60%;
}

strong { 
font-weight: bold;
} 

blockquote {
	text-align: right;
	padding: 24px;
	font-size: 50px;
	

}

span {
	font-family: "Imperial Script", cursive;
	font-size: 24px;
	font-style: italic, bold;
	font-weight: 200;
	color: #FE027E;
}

footer {
	opacity: 60%;
}

a[href^='https://'] { color: #FE027E; }
a:link { color: #c90668; }
a:visited { color: ; }
a:hover { color: #ff88c3; }

footer {
	background-color: rgb(97, 190, 4);
}