body { 
	color: rgb(17, 17, 17); 
	font-family: "Hedvig Letters Serif", serif;
	font-size: 24px;
	padding: 24px;
	background-color: #ECF915;
}

h1, {
	color: #fe027e;
	font-size: 200px;
	.imperial-script-regular
		font-family: "Imperial Script", cursive;
		font-weight: 400;
		font-style: normal;
}

h2, h3 {
	color:  #FE027E;
	font-size: 24px;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-style: normal;
	padding: 0px 0px 40px 0px;
  	
}

h2 {
	margin-top: -40px;
}

p, ul {
	max-width: 55ch;
	margin-bottom: 3em;
	margin-top: 2em;
	text-align: justify;
}

ul {
	list-style-type: circle;
	margin: 25px;
}

.introductionparagraph {
	font-size: 28px;
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
	font-style: normal;
	max-width: 42ch;
	margin-bottom: 3em;
	margin-top: 2em;
	text-align: justify;
}

.highlight { 
	color: #FE027E;
	font-size: 200px;
	font-family: "Imperial Script", cursive;
	font-weight: 400;
	font-style: normal;
}

.InfosArtikel {
	opacity: 60%;
}

strong { 
font-weight: bold;
} 

blockquote {
	text-align: right;
	font-family: "Imperial Script", cursive;
	padding: 24px;
	font-size: 60px;
	position: absolute;
	right: 50px;
	width: 500px;
	padding: 10px;
}

span {
	font-family: "Imperial Script", cursive;
	font-size: 30px;
	font-style: italic, bold;
	font-weight: 200;
	color: #FE027E;
}

a[href^='https://'] { color: #FE027E; }
a:link { color: #FE027E;; }
a:visited { color: ; }
a:hover { color: #ff88c3; }

footer {
	background-color: cant decide yet;
	width: 100%;
	padding: 0px 40px 40px 40px;
	padding-top:0px
	padding bottom:40px
	padding left:40px
	padding right:40px
	opacity: 70%;
}