body { 
	color: rgb(17, 17, 17); 
	font-family: "Hedvig Letters Serif", serif;
	font-size: 22px;
	padding: 24px;
	background-color: #ECF915;
}

h1,.finalblockquote {
	color: #fe027e;
	font-size: 200px;
	font-style: normal;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

/* Everything in Imperial script type*/
.highlight, blockquote, span, h3 {
	font-family: "Imperial Script", cursive;
}

/* Everything in Montserrat type*/
.author, h3, .introductionparagraph {
	font-family: "Montserrat", sans-serif;
}

header {
	color: #FE027E;
}

p, ul {
	max-width: 50ch;
	line-height: 1.5;
	margin-top: 2em;
	text-align: justify;
}

ul {
	list-style-type: circle;
	margin: 25px;
}

strong {
	font-weight: bold;
	} 
	
	blockquote {
		text-align: right;
		padding: 24px;
		font-size: 60px;
		position: absolute;
		right: 50px;
		max-width: 15ch;
		padding: 10px;
	}
	
	span {
		font-size: 30px;
		font-size-adjust: ex-height 0.5;
		font-style: italic, bold;
		font-weight: 200;
		color: #FE027E;
		position: sticky;
		top: 30px;
	}

	h3 {
		margin-top: 10em;
	}

.author {
	color: #fe027e;
	font-size: 24px;
	font-weight: 200;
	font-style: normal;
	margin-top:-45px;
}

.introductionparagraph {
	font-size: 28px;
	font-weight: 200;
	font-style: normal;
	max-width: 45ch;
	margin-bottom: 3em;
	margin-top: 2em;
	text-align: justify;
}

.highlight { 
	color: #FE027E;
	font-size: 250px;
	font-style: normal;
	font-weight: normal;
}

.InfosArtikel {
	opacity: 60%;
}

.response {
	text-align: end;
	text-align: justify;
	padding: 10px;
	max-width: 60ch;
	min-width: 40ch;
	margin-left: 17em;
}

.finalblockquote {
	line-height: 0.8;
	font-size: 100px;
}

a[href^='https://'] { color: #FE027E; }
a:link { color: #FE027E;; }
a:visited { color: ; }
a:hover { color: #ff88c3; }

footer {
	background-color: cant decide yet;
	width: 100%;
	padding: 0px 40px 40px 40px;
	padding-top:0px
	padding bottom:40px
	padding left:40px
	padding right:40px
	opacity: 70%;
}
